@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="nav-link text-white">Bienvenue sur NetAtlas</h1>
</div>
<div class="nav-link text-white">
    <p>NetAtlas est une application web de type réseau social qui permet à ses membres
        inscrits de créer un réseau d'amis et d'échanger des contenus
                         
    </p>
</div>
